h1 {
    text-align:center;
    color: orangered;
}
h2{
    text-align: center;
}
h3{
    font-size: 25px;
    background-color: white;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: white ;
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.slaman {
    background-color: white

}
.LK {
   color: white ;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: 300;
    font-size: 100%;
    padding: 3%;
}

h4{ 
    font-size: 25px;
}